<!DOCTYPE  html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Racing Game 2.0</title>
    <link rel="stylesheet" type="text/css" href="menu.css">  
</head>
<body>


    <header>

	
	
	    <div class="main">
		    <div class="logo">
			<input class="search" type="text" id="txtin" value="" onkeydown="search()"></input>
			
<a id="demo" href="Racegame_Martynas_edit.html"></a>
<a id="rick" href="https://www.youtube.com/watch?v=DLzxrzFCyOs"></a>
<a id="nima" href="nima.png"></a>
<a id="hydrate" href="hydrate.gif"></a>
<a id="leaderboard" href="leaderboard.txt"></a>
<a id="cryptograph" href="cryptograph.html"></a>
<a id="göran" href="göran.jpg"></a>
<a id="impossible" href="Racegame_impossible_verison.html"></a>
<a id="dirt" href="Racegame2.0'DIRT'.html"></a>
<a id="bagge" href="bagge.JPG"></a>
<script>
function search() {
if(event.keyCode == 13) {
        myFunction();
    }
	}
function myFunction() {
  var x = document.getElementById("txtin").value;
  if (x == "play") {
  document.getElementById("demo").innerHTML = x;
 }else if (x == "rick") {
  document.getElementById("rick").innerHTML = x;
}else if (x == "nima") {
  document.getElementById("nima").innerHTML = x;
}else if (x == "hydrate") {
  document.getElementById("hydrate").innerHTML = x;
}else if (x == "leaderboard") {
  document.getElementById("leaderboard").innerHTML = x;
}else if (x == "cryptograph") {
  document.getElementById("cryptograph").innerHTML = x;
}else if (x == "göran") {
  document.getElementById("göran").innerHTML = x;
}else if (x == "impossible") {
  document.getElementById("impossible").innerHTML = x;
}else if (x == "dirt") {
  document.getElementById("dirt").innerHTML = x;
}else if (x == "bagge") {
  document.getElementById("bagge").innerHTML = x;
} 

}
</script>
			    <img src="k.png">
	       </div>
		 </div>

		 <div class="title">
		      <h1>Racing Game 2.0</h1>
	     </div>
		 
		 <div class="button">
		     <a href="RaceGameTraining.html" class="btn">Race Game 1.1 (training)</a>
		     <a href="matsspel.html" class="btn">Play On Computer</a>
			 <a href="racegamemobile.html" class="btn">Play On Mobile</a>
			 <br>
			 <a href="Winter DLC Website.html" class="btn">Winter DLC 500$</a>
			 <a href="Racegame2players.html" class="btn">2 Players</a>
			 <br>
			 <a href="Racegame_Martynas_edit.html" class="easterEgg">WTF edition</a>
			 
	     </div>
		 
	 </header>
</body>
</html>